# Ignore everything by default
*

# Allow file patterns to be specified
!*/

# Specific file patterns to include
!/.gitignore
!/layers/*.el
!/LICENSE.TXT
!/README.md
!/CHANGELOG.md
!/rholang-mode/*.el
!/rholang-mode/*.md
!/docs/
!/docs/**/*.md
!/queries/
!/queries/**/*.scm
